
*.exe
*.vsidx
SuperSharpShares/.vs/SuperSharpShares/v17/.suo
*.pdb
*.cache
*.txt
SuperSharpShares/.vs/SuperSharpShares/v17/DocumentLayout.json
SuperSharpShares/.vs/SuperSharpShares.csproj.dtbcache.json
